.App {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  text-align: end;
}

.header>h1 {
  font-size: 120px;
  padding: 0 40px;
  margin-bottom: -90px;
}

.body {
  padding: 140px 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}


.poke {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  background-color: rgb(245, 245, 245);

}

.poke-descr>h1 {
  font-size: 65px;
  color: rgb(63, 58, 58);
}

.poke-descr>p {
  font-size: 18px;
  margin: 2px 0;
}

.poke-descr>p:nth-child(4) {
  margin-bottom: 30px;
}

.poke-descr>p>span {
  font-weight: bold;
}

.poke-img>img {
  width: 250px;
  height: 250px;
  position: absolute;
  margin-left: -110px;
}

.poke:hover {
  cursor: pointer;
  border: 1px solid black;
}

.poke-and-search-container {
  display: flex;
  justify-content: space-between;
}

.poke-searchbar {
  margin-right: 200px;
}

.poke-searchbar>label {
  font-size: 28px;
  font-weight: bold;
}

.poke-searchbar>input {
  margin-top: 15px;
  text-align: center;
  align-items: center;
}

.poke-searchbar>input {
  width: 290px;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
}

.scrollUp-btn {
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: rgb(63, 58, 58);
  border-radius: 35px;
  position: fixed;
  left: 0;
  margin-left: 35px;
  bottom: 0;
}

/* POKE TYPE CONTAINER */

.poke-type-container {
  color: white;
  font-weight: bold;
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}

/* POKE TYPES */

.water {
  background-color: #6390F0;
}

.normal {
  background-color: #A8A77A;
}

.dark {
  background-color: #705746;
}

.grass {
  background-color: #7AC74C;
}

.fire {
  background-color: #EE8130;
}

.psychic {
  background-color: #F95587;
}

.rock {
  background-color: #B6A136;
}

.electric {
  background-color: #F7D02C;
}

.ground {
  background-color: #E2BF65;
}

.fighting {
  background-color: #C22E28;
}

.bug {
  background-color: #A6B91A;
}

.ghost {
  background-color: #735797;
}

.poison {
  background-color: #A33EA1;
}

.ice {
  background-color: #96D9D6;
}

.steel {
  background-color: #B7B7CE;
}

.dragon {
  background-color: #6F35FC;
}

.fairy {
  background-color: #D685AD;
}

.flying {
  background-color: #A98FF3;
}